
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta name="Description" content="Pluralistic, college preparatory Jewish day school for students in grades 6-12. Serving tri-state area. Over 2,400 alumni in all walks of life.">


<meta name="Keywords" content="jewish day school, prep school, pluralistic, Philadelphia, Main Line, Bryn Mawr, Pennsylvania, Philadelphia area day school, Philadelphia jewish day school, New Jersey jewish day school, jewish education">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Students: Homework</title>
        <link rel="stylesheet" media="all" href="/css/main.css" />
        <link rel="stylesheet" media="all" href="/css/lightview.css" />
        <link rel="stylesheet" media="all" href="/css/calendar.css" />
        <link rel="stylesheet" media="all" href="/css/dhonishow.css" />
        <link rel="stylesheet" media="print" href="/css/calendar-print.css" />
        <script type="text/javascript" language="javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="/js/prototype.js"></script>
        <script type="text/javascript" language="javascript" src="/js/scriptaculous.js"></script>
        <script type="text/javascript" language="javascript" src="/js/lightview.js"></script>
        <script type="text/javascript" language="javascript" src="/js/dhonishow.js"></script>
        <script type="text/javascript" language="javascript" src="/js/jbha.js"></script>
    </head>
    <body>
    <div id="header-cont">              <div id="top-right-nav-cont">
                    <a href="/community-connections/community-connections.php">Community Connections</a>
                    <a href="/parents/welcome.php/" class="bluesupport">Parents</a>
                    <a href="/students/" class="active" class="bluesupport">Students</a>
                </div>
    <p>A PLURALISTIC, COLLEGE PREPARATORY JEWISH DAY SCHOOL FOR GRADES 6-12.</p>
  <a href="/"><img src="/images/header-interior.gif" /></a>
        <style>
ul {
    list-style-type: none;
    list-style-position:outside;
    margin: 0;
    padding: 0;
}
ul#topmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width:100%;
}
ul#topmenu > li.sub {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul#topmenu > li.sub{
    list-style-type: none;
    display: block;
    margin-top:0px;
}
ul#topmenu > li.sub > ul {
    display: none;
    z-index:20;
    top:34px;
    background-color:#0973b9;
    padding:0px;
    padding-left:35px;
//  margin-top:-5px;
}
ul#topmenu > li.sub > ul > li {
    margin-top:0px;
    display:block;
    left:-40px;
    background-color:#0973b9;
}
ul#topmenu > li.sub > ul > li > a {
    background-color:#0973b9;
}
ul#topmenu > li.sub:hover > ul {
    display: block;
}
ul#topmenu > li.sub:hover > ul > li {
}

ul#topmenu > li.sub:hover > ul > li > a {
    background-color:#0973b9;
    color: #fff;
    font-size:13px;
    padding-right:15px;
    padding-left:10px;
    padding-bottom:15px;
    margin-left:-40px;
}

ul#topmenu > li.sub:hover > ul > li > a:hover {
    background-color:#0973b9;
    font-size:13px;
    color: #FFC82E;
}

ul#topmenu > li.sub:hover > ul > li {
    padding:5px;
}
ul#topmenu > li.sub:hover > ul > li > ul {
//  display:none;
//  height:0px;
//  margin:0px;
//  padding:0px;
}

li.sub:hover ul {
    position: absolute;
}

ul#topmenu > li.sub > ul > li{
    display: block;
}
ul#topmenu > li.sub {
    position: relative;
    float: left;
}
ul.subnav {
    list-style-type: circle;
    list-style-position:outside;
    margin: 0;
    padding: 0;
    display:block;
}
ul.subnav > li {
    color:#666666;
}
ul#topmenu > li.sub > ul > li > ul.subnav {
    display:none;
}


</style>

<div id="main-nav-cont">
<div id="left-side-cont">

<ul id="topmenu">
    <li class="sub"><a href="/about-us/welcome.php" id="left-side-1" class="first">About Us</a>
        <a href="#">
         <ul>
    <li><a href="/about-us/welcome.php">Welcome</a></li>
    <li><a href="/about-us/mission-and-philosophy.php"> Mission &amp; Philosophy</a></li>
    <li><a href="/about-us/board-of-directors.php">Board of Directors</a></li>
    
    <li class="divider"></li>
    
    <li><a href="/about-us/history.php">History&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    <li><a href="/about-us/fast-facts.php">Fast Facts</a></li>
  
    <li><a href="/about-us/campus-and-facilities.php">Campus &amp; Facilities</a></li>
    
    <li class="divider"></li>
    
<li><a href="/about-us/news.php?c=1">News&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>

  

        <li><a href="/about-us/calendar.php">Calendar</a></li>


 <li><a href="/about-us/benainu.php">Benainu eNewsletter</a></li>

    
    <li><a href="/about-us/social-media.php">Social Media</a></li>
    
    <li class="divider"></li>
    
    <li><a href="/about-us/contact-us.php">Contact Us</a></li>

    <li><a href="/about-us/barrack-directory.php">Barrack Directory</a>
                                                    </li>
        <li><a href="/about-us/transportation-and-directions.php">Transportation &amp; Directions</a></li> 
     
         <li class="divider"></li>

     <li><a href="/about-us/barrack-retreat-center.php">Barrack Retreat Center</a></li>
    <li><a href="/about-us/florence-melton-school-of-adult-jewish-learning.php">Florence Melton Adult Mini-School</a></li>
    
  
</ul>
        </a></li>
    <li class="sub"><a href="/why-barrack/overview.php" id="left-side-2" class="first">Why Barrack?</a>
        <a href="#">
        <ul>
    <li><a href="/why-barrack/overview.php">Overview</a></li>
    
    <li class="divider"></li>
    
    <li><a href="/why-barrack/critical-thinking-and-academic-excellence.php">Critical Thinking and Academic Excellence</a></li>
    <li><a href="/why-barrack/middle-school-to-upper-school.php">Middle School to Upper School</a></li>
    <li><a href="/why-barrack/study-abroad.php">Study Abroad</a></li>
    <li><a href="/why-barrack/pluralism.php">Pluralism&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    <li><a href="/why-barrack/testimonials.php">Testimonials</a></li>
    
  <li class="divider"></li>
    
    <li><a href="/why-barrack/advantages-of-a-jewish-day-school-education.php">Advantages of a Jewish Day School Education</a></li>
    <li><a href="/why-barrack/integrated-jewish-values-and-culture.php">Integrated Jewish Values and Culture</a></li>

<li class="divider"></li>
      <li><a href="/why-barrack/derech-eretz-pledge.php">Derech Eretz Pledge (Honor Code)</a></li>
    <li><a href="/why-barrack/college-placement.php">College Placement</a></li>
     
</ul>
        </a></li>
    <li class="sub"><a href="/admissions/welcome.php" id="left-side-3">Admissions</a>
        <a href="#">
        <ul>
    <li><a href="/admissions/welcome.php">Welcome</a></li>
    <li><a href="/admissions/advantages-of-a-jewish-day-school.php">Advantages of a Jewish Day School</a></li>

    <li><a href="/support-docs/barrack-brochure.pdf">Barrack Brochure (PDF)</a></li>
    <li class="divider"></li>
 
    <li><a href="/admissions/how-to-apply.php">How To Apply</a>
        <ul class="subnav">
        <li><a href="/support-docs/forms-and-info/2012-2013/JBHA-application.pdf">Download Application</a></li>
    </ul></li>   
    
    <li class="divider"></li>
    
    <li><a href="/admissions/tuition-and-fees.php">Tuition &amp; Fees</a></li>
    <li><a href="/admissions/tuition-assistance.php">Tuition Assistance</a></li>
    
    <li class="divider"></li>
    
    <li><a href="/admissions/faqs.php">FAQs&nbsp;&nbsp;&nbsp;</a></li>
    <li><a href="/admissions/request-for-information.php">Request for Information</a></li>
    <li><a href="/admissions/testimonials.php">Testimonials</a></li> 
    
    <li class="divider"></li>
    
    <li><a href="/admissions/visiting-barrack.php">Visiting Barrack</a>
        <ul class="subnav">
        <li><a href="/admissions/open-houses.php">Open Houses</a></li>
        <li><a href="/admissions/schedule-a-visit.php">Schedule a Visit</a></li>
    </ul></li>
  <li><a href="/admissions/transportation-and-directions.php">Transportation &amp; Directions</a></li> 

</ul>
        </a></li>
    <li class="sub"><a href="/academics/overview.php" id="left-side-4">Academics</a>
        <a href="#">
        
<ul>
    <li><a href="/academics/overview.php">Overview</a></li>
    <li><a href="/academics/middle-school/">Middle School 6-8</a>
         </li>
    <li><a href="/academics/upper-school/">Upper School 9-12</a>
            </li>
    
    <li class="divider"></li> 
    
    <li><a href="/academics/library-and-media-center.php">Library and Media Center</a>
                    <ul class="subnav">
                <li><a href="http://galesites.com/k12/meri10431">Library Web Page</a></li>
                <li><a href="http://jbha.hl.scoolaid.net/bin/home ">Online Catalog</a></li>
                </ul>    </li>
    
    <li class="divider"></li>
    
     <li><a href="/academics/technology.php">Technology</a></li>
     <li><a href="/academics/world-languages.php">World Languages</a></li>

    <li class="divider"></li>

    <li><a href="/academics/college-guidance.php">College Guidance</a></li>
    <li><a href="/academics/academic-support-services.php">Academic Support Services </a>
              <ul class="subnav">
        <li><a href="/academics/advisory-program.php">Advisory Program</a></li>
        <li><a href="/academics/guidance-counseling.php"> Guidance Counseling</a></li>
         <li><a href="/academics/resource-center.php">Resource Center</a></li>
        </ul></li>
</ul>
        </a></li>
    <li class="sub"><a href="/jewish-life/welcome.php" id="left-side-5">Jewish Life</a>
        <a href="#">
        <ul>
    <li><a href="/jewish-life/welcome.php">Welcome</a></li>
    <li><a href="/jewish-life/informal-programs.php">Informal Programs</a></li>
    
    <li class="divider"></li>

    <li><a href="/jewish-life/israel.php">Israel</a></li>
    <li><a href="/jewish-life/service-learning.php">Service Learning</a></li>
    <li><a href="/jewish-life/senior-community-service-projects.php">Senior Community Service Projects</a></li>

    <li class="divider"></li>

    <li><a href="/jewish-life/tefillah-and-spiritual-life.php">Tefillah &amp; Spiritual Life</a></li>

</ul>
        </a></li>
    <li class="sub"><a href="/student-life/overview.php" id="left-side-6">Student Life</a>
        <a href="#">
        <ul>
    <li><a href="http://jbha.org/student-life/overview.php">Overview</a></li>

    <li class="divider"></li>
    
   <li><a href="http://jbha.org/arts/welcome.php">Arts&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
   <li><a href="http://jbha.org/athletics/athletics.php">Athletics</a></li>
   
  <li><a href="http://jbha.org/student-life/student-government.php">Student Government</a></li>    
    
     <li><a href="/student-life/student-publications.php">Student Publications</a></li>
    
    <li class="divider"></li>
    
    <li><a href="http://jbha.org/student-life/student-clubs-and-activities.php">Student Clubs and Activities</a></li>
    <li><a href="/student-life/beyond-the-classroom.php">Beyond the Classroom</a></li>
    
    <li class="divider"></li>
    
    <li><a href="/student-life/food-services.php">Food Services</a></li>

    <li class="divider"></li>
    
    <li><a href="http://jbha.org/student-life/derech-eretz-pledge.php">Derech Eretz Pledge (Honor Code)</a></li>
    <li><a href="/students/2012-13-Handbook-final-version.pdf">Student Handbook (PDF)</a></li>
   
</ul>
        </a></li>
    <li class="sub"><a href="/arts/welcome.php" id="left-side-7">Arts</a>
        <a href="#">
        <ul>
    <li><a href="http://jbha.org/arts/welcome.php">Welcome</a></li>
    <li><a href="http://jbha.org/arts/music.php">Music</a></li>
    <li><a href="http://jbha.org/arts/drama.php">Drama</a>
          <ul class="subnav">
        <li><a href="/arts/2012-2013-productions.php">2012-2013 Productions</a></li>
        <li><a href="http://www.jbhadramadepartment.com/" target="_blank">Drama Department Website</a></li>
    </ul></li>
    <li><a href="http://jbha.org/arts/visual-arts.php">Visual Arts</a>
          <ul class="subnav">
            <li><a href="http://jbha.org/arts/visual-arts-gallery.php?c=23">Gallery</a></li>
    </ul></li>
    <li><a href="http://jbhaartinthestudio20122013.blogspot.com/">Art in the Studio Blog</a></li>
</ul>
        </a></li>
    <li class="sub"><a href="/athletics/athletics.php" id="left-side-8">Athletics</a>
        <a href="#">
        <ul>
    <li><a href="/athletics/athletics.php">Athletics: <em>Team Schedules, Directions &amp; Results</em></a>
            <ul class="subnav">
        <li class="athletic-subnav">FALL</li>
        <li><a href="/athletics/soccer/398">Soccer</a> </li>
        <li><a href="/athletics/tennis/16">Girls Tennis</a> </li>
        <li><a href="/athletics/cross-country/14">Cross Country          </a></li>
        <li><a href="/athletics/squash-club/541">Squash Club</a> </li>
        <li class="athletic-subnav">WINTER</li>
        <li><a href="/athletics/basketball/397">Basketball</a> </li>
        <li><a href="/athletics/swimming/18">Swimming</a> </li>
        <li class="athletic-subnav">SPRING</li>
        <li><a href="/athletics/baseball/396">Baseball</a> </li>
        <li><a href="/athletics/lacrosse/20">Lacrosse</a> </li>
        <li><a href="/athletics/softball/399">Softball</a> </li>
        <li><a href="/athletics/tennis/16">Boys Tennis</a> </li>
        <li><a href="/athletics/golf/21">Golf</a> </li>
        <li><a href="/athletics/track-and-field/15">Track and Field </a></li>
    </ul>
  </li>  
    
    <li><a href="/athletics/athletic-news.php?c=4">Athletic News</a></li>
    <li><a href="/athletics/cougar-student-athlete-of-the-week.php">Cougar Student Athlete of the Week</a></li>
    <li><a href="/athletics/athletic-events-of-the-week.php">Athletic Events of the Week</a></li>
    <li><a href="/support-docs/forms-and-info/2012-2013/Sports-Participation.pdf">Athletic Forms (PDF)</a></li>
</ul>



        </a></li>
    <li class="sub"><a href="/support-barrack/welcome.php" id="left-side-9">Support Barrack</a>
        <a href="#">
        <ul>
    <li><a href="/support-barrack/welcome.php">Welcome&nbsp;&nbsp;&nbsp;</a></li>
    <li><a href="/support-barrack/give-online.php"> Online Donations, Tributes, Payments</a></li>
    <li><a href="/support-barrack/annual-fund.php">About the     Annual Fund</a></li>
    <li><a href="/support-barrack/capital-giving.php">About     Capital Giving</a></li>
    <li><a href="/support-barrack/planned-giving.php">About      Planned Giving</a></li>
    <li><a href="/support-barrack/ways-of-giving.php">Ways of Giving</a></li>
    <li><a href="/support-barrack/eitc-pa-tax-credit-program.php">EITC: PA Tax Credit Program</a></li>
    <li><a href="http://www.jbha.org/tribute-event/">11th Annual   Tribute Event</a></li>
    <li><a href="/support-barrack/annual-report.php">2011-2012    Annual Report: Discover Your Passions... Accomplish Your Goals</a></li>
    <li><a href="/support-barrack/join-our-email-list.php">Join Our Email List</a></li>
</ul>       </a></li>
    <li class="sub"><a href="/alumni/welcome.php" id="left-side-10">Alumni</a>
        <a href="#">
        <ul>
    <li><a href="/alumni/welcome.php">Welcome</a></li>
    <li><a href="/alumni/update-your-profile.php">Update Your Profile</a></li>
    
    
    <li><a href="/alumni/news.php">News&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li> 
    <li><a href="/alumni/events.php">Events&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    <li><a href="/alumni/calendar.php">Calendar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
    
<li><a href="/alumni/photo-gallery.php?c=2">Photo Gallery</a></li>
<li><a href="/alumni/akiba-barrack-alumni-shine.php">Akiba-Barrack Alumni Shine!</a></li>
<li><a href="/support-barrack/give-online.php">Online Giving</a></li>
<li><a href="/alumni/testimonials.php">Testimonials&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            
<li><a href="http://www.facebook.com/pages/Akiba-Barrack-Alumni/94238783017" target="_blank"><img src="../images/facebook.gif" alt="Follow Akiba-Barrack Alumni Association on Facebook" border="0" /></a></li>
</ul>
        </a></li>
</ul>

</div>
</div></div>
        <div id="cont-fix">
        <div id="cont">


<div id="interior-content-cont">
    <div id="side-nav">
        
<ul>
    <li><a href="/students/">Calendar</a></li>
    <li><a href="/students/bell-schedule.php">Bell Schedule</a></li>

    
  <li><a href="https://www.google.com/a/jbha.org/ServiceLogin?service=mail&passive=true&rm=false&continue=http%3A%2F%2Fmail.google.com%2Fa%2Fjbha.org%2F&bsv=zpwhtygjntrz&ltmpl=default&ltmplcache=2&Email=" onclick="email_append(this, $('Email'))" target="_blank">Check Email</a></li>
</ul>
  <p>You are now logged<br />in as avi.romanoff</p>
  <ul>

<li><a id="view-homework" href="homework.php"  class="active">View Homework</span></li> <li><a href="/students/?Action=logout">Log Out</a></li>

<li class="divider"></li>

<li><a href="http://jbha.org/students/2013-2014-course-selection-forms-and-descriptions.php">2013/14 Course Selection Forms &amp; Descriptions</a></li>
<li><a href="/students/yedion/">Yedion E-minders</a>
            <ul class="subnav">
        <li><a href="/students/yedion/1">Past Yedion E-minders</a></li>
         </ul> </li>
     <li><a href="http://jbha.org/students/benainu-newsletter.php">Benainu eNewsletter</a></li>
     <li><a href="http://jbha.org/students/forms.php">Forms</a></li>
     <li><a href="/students/activities-and-clubs.php">Activities and Clubs</a></li>
     <li><a href="/students/student-publications.php">Student Publications</a></li>
     <li><a href="/students/2013-summer-assignments-and-supply-lists.php">2013 Summer Assignments &amp; Supply Lists</a></li>
    <li><a href="/students/2012-13-Handbook-final-version.pdf">Student Handbook (PDF)</a></li>
<li><a href="http://jbha.org/students/derech-eretz-pledge.php">Derech Eretz Pledge (Honor Code)</a></li>



    </ul>
    </div>
    <div id="main-2-cont">
        <div id="news-well">
        <h1>Student<br />Updates</h1>
        <div id="student-updates-cont">
        <div class="update-item">
            <h2>Last  Day of School- Vacation:</h2>
            <p>The last day of the 2012-2013 academic year is Friday, June 14. Enjoy the summer vacation!</p>
                                <a href=" "> </a>
                
        </div>
        <img src="http://jbha.org/images/student-updates-divider.gif" />        <div class="update-item">
            <h2>Anticipation: Chag Sameach!</h2>
            <p>From our Barrack Hebrew Academy family to yours, a happy, healthy, sweet New Year!</p>
                
        </div>
        <img src="http://jbha.org/images/student-updates-divider.gif" />        <div class="update-item">
            <h2>First Day of School in September:</h2>
            <p>Classes resume on Tuesday, September 10. Welcome back!</p>
                
        </div>
        <img src="http://jbha.org/images/student-updates-divider.gif" /></div>  </div><div style="clear:both;"></div>
                    <div id="breadcrumb">
                    
<a href='/'>Home</a> &gt;
<a href='/students/'>Students</a> &gt; Homework
                    </div>
        <p>
            <h1 class="normal">Carol McMichael: Latin IV Advanced Seminar </h1>
                        <div id="tab-cont">
                <a class="" href="#tab-0" onclick="course_tab_click(this)">Department Info</a>
            <a class="active" href="#tab-2165" onclick="course_tab_click(this)">Course Overview</a>         </div>
            <div class="tab-content-cont" id="tab-0" style="display: none"><div class="toggle-arrow"><a class="toggle-arrow" href="javascript:arrow_down_right('toggle-dept-cont-16')"><img alt="" src="/images/small-right.gif" id="toggle-dept-cont-16_img" /></a><h2><a href="javascript:arrow_down_right('toggle-dept-cont-16')">World Languages</a></h2></div>
                        <div id="toggle-dept-cont-16" class="toggle-arrow-content" style="display: none">
                        <div class="dept-info-date">Sep 8th, 2011</div>
                        <h3>Department Chair: Carol McMichael</h3><p>The World Language Department at Jack M. Barrack Hebrew Academy offers a selection of four world languages to the student body: French, Latin, Spanish, and Arabic (offered only as an Exploratory elective in 2011-2012). In each class, key skills such as understanding, speaking, along with reading and writing, are presented in a way in which students can readily progress and be successful both in the classroom and in the real world which awaits. Our school guarantees the study of a world language for four years. Students who complete the level four are not just well versed in the four skills, but also have been exposed to a quantity of related culture - especially art, music and history.</p>
<p>The study of a world language does require lots of practice at home by the student in order to acquire sufficient competency in the skills. Students are usually assigned a reasonable amount of homework nearly every night which serves to review and to reinforce classroom activities.</p>
<p>&nbsp;</p>
<p><span style="color: rgb(153,51,102)"><span style="font-family: Verdana"><strong><span style="font-size: larger">Why is the study of a World Language so important today</span>?</strong></span></span></p>
<p>You probably can think of at least <a href="http://www.vistawide.com/languages/why_languages.htm">10 reasons</a>. Here are some interesting links which we find valuable:</p>
<p><a href="http://asiasociety.org/video/education-learning/why-language-matters">Why Language Matters</a></p>
<p>Also, <strong><em>PBS Now </em></strong>on the PBS Video Portal features-- <a href="http://video.pbs.org/program/1522701726/">&quot;Speaking in Tongues.&quot;</a> This film explores how being bilingual can be a national resource. Following four students involved in an educational experiment designed to make them bilingual, the documentary discusses immigration, assimilation, globalization, and <u>what it means to be American.</u></p>
<p><a href="http://www.multilingualliving.com/2010/05/01/the-benefits-of-multilingualism/">The Benefits of Multilingualism</a></p>
<p><a href="http://news.discovery.com/human/bilingualism-language-brain-function.html">Brain Function &amp; Bilingualism</a></p>
<p><a href="http://www.edweek.org/ew/articles/2010/10/22/09window_ep.h30.html?tkn=SZLFGTpU3B4pzd3JR0U1yl339bVOC8%2FzE+Ln&amp;cmp=clp-edweek">A Scientific Look at Learning a New Language</a></p>
<p><a href="http://www.huffingtonpost.com/donna-nevel/the-power-of-language-and_b_776169.html">The Power of Learning a Language</a></p>
<p><a href="http://record-eagle.com/features/x161015934/New-research-highlights-language-learning">Second-language learning:</a>  Contrary to popular belief, it is not as difficult as you might think!</p>
<p>Prefer to <a href="http://www.youtube.com/watch?v=nepntACvSpk">WATCH</a> instead of read?</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p><div style="clear: both"></div></div><br />
                            <h4>Department Files</h4>
                            <ul>
                            <li><a href="/data/departments/files/Study Skills for learning a World Language.pdf" target="_blank">Study Skills</a></li><li><a href="/data/departments/files/TIPS FOR LEARNING LATIN WITH LESS STRESS.pdf" target="_blank">Tips for Learning Latin with Less Stress</a></li></ul>         </div>
                        <div class="tab-content-cont" id="tab-2165" style="display: block">
                <div class="toggle-arrow"><a class="toggle-arrow" href="javascript:arrow_down_right('toggle-cont-21299')"><img alt="" src="/images/small-right.gif" id="toggle-cont-21299_img" /></a><h2><a href="javascript:arrow_down_right('toggle-cont-21299')">Syllabus</a></h2></div>
                                        <div id="toggle-cont-21299" class="toggle-arrow-content" style="display: none"><div style="clear: both"></div></div><div class="toggle-arrow"><a class="toggle-arrow" href="javascript:arrow_down_right('toggle-cont-21300')"><img alt="" src="/images/small-right.gif" id="toggle-cont-21300_img" /></a><h2><a href="javascript:arrow_down_right('toggle-cont-21300')">Assessment Policy</a></h2></div>
                                        <div id="toggle-cont-21300" class="toggle-arrow-content" style="display: none"><div style="clear: both"></div></div><div class="toggle-arrow"><a class="toggle-arrow" href="javascript:arrow_down_right('toggle-cont-21301')"><img alt="" src="/images/small-right.gif" id="toggle-cont-21301_img" /></a><h2><a href="javascript:arrow_down_right('toggle-cont-21301')">Classroom Guidelines</a></h2></div>
                                        <div id="toggle-cont-21301" class="toggle-arrow-content" style="display: none"><div style="clear: both"></div></div>            </div></div>
    </div>
    <div style="clear: both;"></div>
</div>
        </div>
        
</div></div>
        <div id="footer-cont">
            <div id="footer">
                <div id="footer-news">

                </div>
                                 
                <div id="footer-fix-2">
                <div id="footer-contact">
                    <p><strong>Jack M. Barrack Hebrew Academy &bull; 272 S. Bryn Mawr Avenue, Bryn Mawr, PA  19010 &bull; 610-922-2300</strong></p>
                    <p><em>Accredited by Middle States Association of Colleges and Secondary Schools Partnering with the Jewish Federation of Greater Philadelphia</em></p>
                    <div id="footer-social">
                        <a href="http://www.facebook.com/pages/Jack-M-Barrack-Hebrew-Academy/206945529316107?sk=wall"><img id="facebook" src="/images/facebook.png" /></a>
                        <a href="http://twitter.com/Barrackjbha" target="_blank"><img id="twitter" src="/images/twitter.png" /></a>
                        <a href="http://www.youtube.com/barrackspotlight"><img id="youtube" src="/images/youtube.png" /></a>                    </div>
              </div>
              </div>
                <div id="footer-fix">
                <div id="footer-links">
                    <div id="footer-nav">
                        <a href="/about-us/contact-us.php">contact us</a>
                        <a href="/calendar.php">calendars</a>
                        <a href="/employment.php">employment</a>
                        <a href="/sitemap.php">site map</a>                 </div>
      <div id="footer-logos">
                        <a href="/community-connections/florence-melton-school-of-adult-jewish-learning.php"><img id="melton" src="/images/melton.png" /></a>
                        <a href="http://www.barrackretreatcenter.org"><img src="/images/brc.png" /></a>                 </div>
            <span style="float:right; font-family:Arial, Helvetica, sans-serif; font-size:12px; position:relative; right:20px; top:55px; color:#716f6b;">Site designed and maintained by <a href="http://www.acquirevisual.com">Acquire, LLC</a></span></div></div>
            
        </div>

                        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            var pageTracker = _gat._getTracker("UA-2853797-17");
            pageTracker._initData();
            pageTracker._trackPageview();
        </script>
            </body>
</html>